.my-foods-form {
  background-color: var(--surface-color);
  padding: 20px;
  border-radius: 16px;
  border: 1px solid var(--glass-border);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}
.my-foods-form h3 {
  margin-top: 0;
  color: #fff;
}

.form-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  align-items: center;
}

.form-grid input {
  width: 100%;
  padding: 12px;
  font-size: 0.9rem;
  background-color: var(--background-color);
  border: 1px solid var(--glass-border);
  color: var(--text-color);
  border-radius: 8px;
  box-sizing: border-box; /* Important for padding */
  font-family: var(--font-main);
}

.form-grid .scan-button {
  padding: 12px;
  font-size: 0.9rem;
}

.my-foods-list h3 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 20px;
}

/* Responsive form */
@media (max-width: 900px) {
  .form-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form-grid input[type="text"] {
    grid-column: 1 / -1; /* Full width */
  }
  .form-grid .scan-button {
    grid-column: 1 / -1; /* Full width */
  }
}